.App {
  text-align: center;
}

.App-header {
  overflow: auto;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.white-center-text {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: white;
}
