.container {
  margin: 0.3em;
  padding: 0.2em;
  border: 2px solid #282c34;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  font-size: calc(10px + 2vmin);
}

.container:hover {
  border-color: white;
}

.container h4 {
  margin: 0;
}

.container > div {
  font-size: 0.6em;
  white-space: nowrap;
}

.container > div p {
  margin: 0;
}

.container > div p > span:last-child {
  color: #ffffff;
}

.container > div p > span:first-child {
  color: #c5c5c5;
}

.header {
  color: white;
}
